---
import { Icon } from "astro-icon/components";
import Section from "../Section.astro";
import { skills } from "@cv";
import { SKILLS_ICONS } from "@/constants/skill-icons";
---

<Section className={Astro.props.className} title="Skills">
	<ul
		class="flex list-disc flex-col flex-wrap gap-6 print:mt-3 print:gap-2 print:pb-3 [&>li>svg]:size-5 [&>li>svg]:text-skin-hue [&>li]:text-sm"
	>
		{
			skills.map(({ name: skill, keywords }) => {
				const iconName = SKILLS_ICONS[skill]?.iconName;
				// const id = encodeURI(skill);

				return (
					<li class="border-skin-hue/20s bg-skin-button-accent/20s borders border-solids list-item flex-col items-start gap-1 rounded-md px-0 py-0.5 text-base text-skin-muted marker:text-skin-hue/80 print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
						<h4 class="text-base font-normal">
							{iconName && <Icon name={iconName} class="print:hidden" />}{" "}
							<span class="text-skin-hue">{skill}</span>
						</h4>

						<div class="mt-3 flex flex-wrap gap-2 print:mt-1 print:hidden print:justify-start print:gap-1">
							{keywords?.map((skill) => {
								let skillName = skill?.replace(/ \(.*\)/, "");
								const icon = SKILLS_ICONS[skillName];
								const iconName = icon?.iconName || "";
								return (
									<div class="flex items-center gap-1 rounded-md border border-solid border-skin-hue/30 bg-transparent px-2 py-0.5 text-xs text-skin-muted print:border-none print:bg-transparent print:p-0 print:text-skin-base">
										{iconName && <Icon name={iconName} />}
										<span class="">{skill}</span>
									</div>
								);
							})}
						</div>
						<div class="mt-3 hidden gap-2 text-xs print:mt-1 print:block">
							{keywords?.join(" · ")}
						</div>
					</li>
				);
			})
		}
	</ul>
</Section>
